/* mobile styles */

#tweets-container {
  width: 100%;
}

article.tweet {
  border: 5px solid;
  border-radius: 10px;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
}

.text-input {
  word-wrap: break-word;
}

article.tweet:hover {
  box-shadow: 5px 5px #D3D3D3;
}

article.tweet .user-info {
  display: flex;
  justify-content: space-between;
}

.user-info span {
  display: flex;
  justify-content: space-evenly;
}

article.tweet img {
  width: 65px;
  height: 70px;
  margin-right: 15px;
}

article.tweet .handle {
  color: #D3D3D3;
  font-weight: bold;
}

article.tweet header div {
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 5px solid;
  font-weight: bold;
}

.icon {
  color: #4056A1;
}

.icon:hover {
  color: #D79923;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size:medium;
  font-weight: bold;
}


/* desktop styles */

@media only screen and (min-width: 1024px) {

#tweets-container {
  padding-right: 50px;
}

}