/* mobile styles */

* {
  box-sizing: border-box;
}

nav { 
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  background-color: #D79923;
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.nav-title {
  font-family: 'Bungee', cursive;
}

.nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inline-item-block {
  display: inline;
}

nav button {
  color: white;
  background-color: transparent;
  border: none;
  animation: bounce .4s infinite alternate;
}

nav button:hover {
  color: #e5ff00;
}

@keyframes bounce {
  to {
      transform: scale(1.2);
    }
}

/* desktop styles */

@media only screen and (min-width: 1024px) {

  nav {
      background-color: #4056A1; 
    }

    nav button {
      background-color: #4056A1;
    }

}